.row{
  align-items: center;
  justify-content: center;
  span{
    font-weight: bolder;
    font-size: 2rem
  }
  div{
    font-size: 1rem;
    padding: 0 20px;
    &:not(:last-child){

    }
    span{
      font-size: 1.2rem!important;
    }
  }
}

.flex_default{
  display: flex;
  justify-content: center;
}

.baseInfo_box{
  position: relative;
  .flex_default;

  .left{
    .flex_default;
    flex-basis: 150px;
  }

  .center{
    flex-grow: 1;
    max-width: 394px;
  }

  .right{
    .flex_default;
    flex-basis: 150px;
  }

}

